.App {
  font-family: sans-serif;
  text-align: center;
}
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
  max-width: 600px;
  min-width: 50px;
  word-break: break-word;
}

.urls-list {
  margin-bottom: 15px;
}
